<section class="container-fluid">
    <div class="row">

      <div class="col-md-12 col-lg-6 col-xl-4">
        <div class="card mb-4 shadow-sm">
         <div class="card-header"></div>
          <div class="card-body text-dark">
            <div class="row">
              <div class="col-sm-4 mb-2">
                <img src="assets/img/img_avatar2.png" alt="" class="img-fluid shadow-sm">
              </div>
              <ng-container *ngIf="modifierButtonView; else affichageNormalChamps">
              <div class="col-sm-8">
                <dl class="row">
                  <dt class="col-sm-5">Matricule</dt>
                  <dd class="col-sm-7">{{col.matricule}}</dd>
                  <dt class="col-sm-5">Nom</dt>
                  <dd class="col-sm-7">{{col.nom}}</dd>
                  <dt class="col-sm-5">Prénoms</dt>
                  <dd class="col-sm-7">{{col.prenoms}}</dd>

                  
                  <dt class="col-sm-5">Date de Naissance</dt>
                  <dd class="col-sm-7"><input type="text"></dd>
                  <dt class="col-sm-5">Emplacement photo</dt>
                  <dd class="col-sm-7"><input type="text"></dd>

                </dl>
                <dl class="row">
                    <dt></dt>
                    <dd class="col-sm-6"></dd>
                    <dd class="col-sm-3"></dd>
                    <dd class="col-sm-3"><a href="#" class="btn btn-success"(click)="validerButtonAction()"> Valider </a></dd>
                    </dl>
                </div>
              </ng-container>
              <ng-template #affichageNormalChamps>
                  <div class="col-sm-8">
                      <dl class="row">
                        <dt class="col-sm-5">Matricule</dt>
                        <dd class="col-sm-7">{{col.matricule}}</dd>
                        <dt class="col-sm-5">Nom</dt>
                        <dd class="col-sm-7">{{col.nom}}</dd>
                        <dt class="col-sm-5">Prénoms</dt>
                        <dd class="col-sm-7">{{col.prenoms | uppercase}}</dd>
                        <dt class="col-sm-5">Date de Naissance</dt>
                        <dd class="col-sm-7">{{col.dateDeNaissance | date:'longDate' }}</dd>
                        <dt class="col-sm-5">Emplacement photo</dt>
                        <dd class="col-sm-7">{{col.photoUrl}}</dd>
                </dl>
                <dl class="row">
                    <dt></dt>
                    <dd class="col-sm-6"></dd>
                    <dd class="col-sm-3"><a href="#" class="btn btn-warning" (click)="modifierButtonAction()"> Modifier </a></dd>
                    <dd class="col-sm-3"></dd>
                    </dl>
                </div>
                  </ng-template>

            </div>
          </div>
        </div>
      </div>


    </div>
</section>