 
 <header>
    <!-- Entête -->
</header>

<app-menu> </app-menu>

      <main>

  <!-- le composant défini dans la route courante va être inséré à cet endroit -->

    <!-- au regard de la configuration précédente, 
        /page1 va insérer le composant AComponent à cet emplacement
        /page2 a insérer le composant BComponent à cet emplacement
    -->
    
    <router-outlet>
     <!-- <app-accueil></app-accueil>-->
    </router-outlet>
  

    <!-- <app-collegue [col]=collegueMock></app-collegue> -->
  </main>
  <footer>
       <!-- Pied de page -->
  </footer>

   