<p>collegue works!</p>
<p>Matricule : {{ col.matricule}}</p>
<p> Nom : {{ col.nom}}</p>
<p>Prenoms : {{ col.prenoms}}</p>
<p>Date de Naissance : {{ col.dateDeNaissance}}</p>
<p>PhotoUrl : {{ col.photoUrl}}</p>
<input type="text" #saisieTexte value={{col.nom}}>
<button (click)="envoi(saisieTexte.value)">Suivant</button>
<button (click)="reset(saisieTexte)">Reset</button>


<!-- 
<input #newHero
      (keyup.enter)="addHero(newHero.value)"
      (blur)="addHero(newHero.value); newHero.value='' ">

    <button (click)="addHero(newHero.value)">Add</button>
<ul><li *ngFor="let value of col">{{value}}</li></ul>
    


-->